<body>
  <h1>Add A New Product</h1>

  <%= form_tag products_path, method: :post do %>
    <p>Title: <%= text_field_tag "title" %></p>
    <p>Description: <%= text_field_tag "description" %></p>
    <p>Price: <%= text_field_tag "price" %></p>
    <button><%= submit_tag %></button>
  <% end %>
</body>
